.output{
   
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .heading{
       
         
        text-transform: uppercase;
        span{
            color: grey;
            text-transform: none;
            text-decoration: underline;
        }
    }
    .on-pagescore{
      

        display: flex;
       
        gap: 10px;
        align-items: center;
        
        width: 90%;
        .site-img{
            width: 50%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .score{
          
            width: 50%;
            
            align-items: center;
            display: flex;
            flex-direction: column;
        }
    }
    .on-pageresults{
   
        width: 90%;
        display: flex; 
        justify-content: center;
        flex-direction: column; 
      
    }
    .htags-list{
      
        width: 90%;

    }
    .speed-insights{
        width: 90%;
        
    }
    .media-tags{
        width: 90%;
      
    }

    
  }
  @media screen and (max-width:790px){
    .output{
        .on-pagescore{
            display: flex;
            flex-direction: column;
            .site-img{
                width: 100%;
                height: 50%;
            }
            .score{
                width: 100%;
                height: 50%;
            }
        }
    }
}